Source: libcariad-driver-epd
Section: main
XBSC-Family: pic32
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-driver-epd
Replaces: libdisplaycore-driver-epd
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Drivers
XBSC-Subsubgroup: ePaper
Depends: libcariad-core
Provides: EPD.h
Description: ePaper driver for the 2.9" ePaper device from WaveShare



